body {
    margin: 0;
}

header {
    background-color: black;
    overflow: hidden;
    width: 100%;
}

header, h1 {
    color: white;
    padding-left: 50px;
}

#wrapper {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 35px;
}

.wrapperFirstRow {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    border-style: groove;
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: fit-content;
    margin-bottom: 40px;
}

.pcCard {
    border-style: groove;
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
}

#btnRL {
    display: none;
}